.drawerClosed .drawerHeaderLogo {
    display: none;
}

.drawerOpen .drawerHeaderLogoSmallOpen {
    display: none;
}

.drawerClosed .drawerHeaderLogoSmallClosed {
    display: block !important;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
}


.drawerClosed .drawerHeaderPanelStyleClosed {
    padding-top: 37px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 51px;
}

.drawerOpen .drawerHeaderPanelStyleClosed {
    padding-top: 37px;
    padding-left: 40px;
    padding-right: 36px;
    padding-bottom: 25px;
}

.drawerHeaderPanelStyle {
    display: grid;
    padding-top: 37px;
    padding-left: 40px;
    padding-right: 36px;
    padding-bottom: 25px;
}