.drawerFooterPanelStyle {
    height: 37px;
    width: 170px;
    display: grid;
    grid-template-rows: auto; 
}

.drawerFooterTitleStyling {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333E40;
    align-self: center;
}

.drawerFooterSubtitleStyling {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #A1A5A7;
    align-self: end;
}

.drawerFooterPopUpTextStyle {
    font-family: 'Lato-Bold';
    font-style: normal;
    align-self: center;
    font-size: 14px;
    line-height: 17px;
    color: #333E40;
    margin-left: 20px;
}

