@font-face {
    font-family: 'Lato';
    src: url('http://localhost:8888/files/prodinRes/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('http://localhost:8888/files/prodinRes/Lato-Bold.ttf');
}

@font-face {
    font-family: 'feather-icon';
    src: url('http://localhost:8888/files/prodinRes/feather-icons.ttf');
}

.loginWidgetPanelStyle {
    width: 460px;
    height: 531px;
    background-color: white;
    border-radius: 16px;
    margin: 30px;
    box-shadow: 0px 10px 34px rgba(47, 59, 73, 0.08);
}

.mainWndPanelStyle{
    place-self: center;
}

.loginWrapperPanelStyle{
    background-image: url('http://localhost:8888/files/prodinRes/prodin_login_background_desktop.png');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: grid;
    background-size: 100vw 100vh;
}

.loginWidgetContentPanelStyle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: calc(531px - 112px);
}

.loginWidgetBtnStyle{
    grid-row-start: 5;
    --bbj-color-default: #9B0058;
    height: 43px;
    width: 100%;
}

.loginWidgetBtnLabel::part(label) {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.loginWidgetBtnControl::part(control) {
    border-radius: 8px;
}

.loginWidgetCheckBoxStyle{
    grid-row-start: 4;
    height: fit-content;
}

.loginWidgetCheckBoxLabel::part(label) {
    align-self: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333E40;
    margin-left: 12px;
}

.loginWidgetCheckBoxInputWrapper::part(input-wrapper) {
    width: 22px;
    height: 22px;
    border:solid;
    border-width: 1px;
    border-color: #DDE0E1;
    border-radius: 3px;
}
.loginWidgetCheckBoxControl::part(control) {
    --bbj-color-default: #FFFFFF;
}
.loginWidgetCheckBoxIcon::part(checked-icon) {
    background-color: #9B0058;
}

.loginWidgetForgotPWStlye{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #6883BA;
}

@media screen and (max-width: 425px) {
    .loginWidgetPanelStyle{
        width: 100vw;
        margin: 0px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .mainWndPanelStyle{
        place-self: end center;
    }

    .loginWrapperPanelStyle{
        background-image: url('http://localhost:8888/files/prodinRes/prodin_login_background_phone.png');
    }
}

@media screen and(max-width:800px){
    .loginWrapperPanelStyle {
       background-image: url('http://localhost:8888/files/prodinRes/prodin_login_background_tablet.png');
    }
}
