body
{
  	overflow: hidden;  
  	overscroll-behavior-y: none;
  	touch-action: none;
	font-style:normal;
	font-weight:600;
}

.tilesheadline {
	font-size: xx-large;
	color: #1a1a1a;
}

.tilesheadline:after {
  content: '';
  display: block;
  width: calc( 100% - 40px );
  height: 2px;
  background: #000;
  right: 0;
}
 div .logo{
	margin-top:2px;
	margin-left:15px;
}

iframe {
	border-width:0px !important;
}

@media screen and (max-width: 600px) {
	.wallpaper {
		background-color:white;
		background-image:unset;
	}

	.avatar {
	    height:30px;
	    width:30px;
	    position:fixed;
	    background-size:30px;
	}	
}
