body
{
  	overflow: hidden;  
  	overscroll-behavior-y: none;
  	touch-action: none;
	font-family:Nunito, sans-serif;
	font-style:normal;
	font-weight:600;
  
}


.card {
	  width  : 350px;
	  height : 400px;
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	  margin-right: 20px;
	  margin-bottom: 20px;
	  display: flex;
	   
}
.cardpanel {
	  padding-bottom: 10px;
	
}

.cardtext {
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
}

.cardimg{
     width:350px;
     height:235px;
     background-size:contain;
     background-repeat:no-repeat;
     background-position-x:center;
     background-position-y:center;
}


.gridholder{

        width: calc( 100vw - 150px );
        height: calc( 100vh - 250px );

}

.tileslist{

        width: calc( 100vw - 140px );
        height: calc( 100vh - 250px );
}

.tileslist .BBjPanel {
        width: calc( 100vw - 150px );
        height: calc( 100vh - 250px );
}


.gridview {
        width: calc( 100vw - 150px ) !important;
        height: calc( 100vh - 320px ) !important;
	
	
}
.loginbtn {
	width: 305px;
	height: 40px;
}
.logincontainer .BBjChildWindow-content {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 100px 210px;
	
}

.logincontainer basis-inpute,.logincontainer basis-button
{
	width:100%;
}

 
.headline {
	font-size:17px;
	padding-bottom:20px;
}

.errormsg {
	font-size:12px;
	color:var(--bbj-color-warning-120,red);
	
}



.menutile {
	width:120px;
	height:120px;
    color:white;	
	display: flex;
	flex-direction: column;
	align-items:center;
}

.menutile .material-icons  {
	padding-top:25px;
    font-size:36px;
    font-style:normal;
    font-weight:600;      
}

.menutile .tilelabel {
	font-family:Nunito, sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:600;      
}

.menutile:hover {
	background-color: var(--bbj-color-primary-50);
}

.menutile.submenu{
   color:#1a1a1a;
   margin-right:20px;
   margin-top:20px;
   background-color:#f1f1f1; 
}

.menutile.submenu:hover {
    background-color: var(--bbj-color-primary-50);
    color:white;
}

.tileselected {
	background-color:var(--bbj-color-primary-50);
}

.tilesheadline {
	font-size: xx-large;
	color: #1a1a1a;
}

.tilesheadline:after {
  content: '';
  display: block;
  width: calc( 100% - 40px );
  height: 2px;
  background: #000;
  right: 0;
}

.menupanel {
	display: grid;
	margin: 20px;
}

.logincontainer {
	background-color:white;
	position: fixed;
	left:calc( 50vw - 180px );
	top:calc( 50vh - 100px );
	padding: 20px;
}

.mainarea{
	position:absolute;
	left:120px;
}
.mainarea,
.mainarea>div,
.mainarea>div>div {
	width:calc( 100vw - 121px );
    height:calc( 100vh - 64px );
	
}
.menuclient {
	padding:10px;
	width:calc( 100vw - 121px );
	height:calc( 100vh - 64px );
}


.topbar {
	background-color:#293237;
	height:64px;
}

.menutoggle {
	display: none;
            
    width:30px;
    height:30px;
    float:left;
    position: fixed;
    top:7px;
    left: 7px;
    color:white;
    background:rgba(0,0,0,0.0);	
}


 div .logo{
	margin-top:2px;
	margin-left:15px;
}


.account {
	height:50px;
	width:250px;
	text-align: right !important;
	position:fixed;
	top:17px;
	right:75px;
	font-family:Nunito, sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:600;
	color:#FAFAFA;      
}

.drawermenu {
	background-color:#293237;
	width:120px;
	position:fixed;
	left:0;
	top:64px;
	overflow-x:hidden;
	left:0px;
	height:100%;
	z-index:1;
}


.embedframe {

	width:calc( 100% - 20px);
    height:calc( 100vh - 200px );
    margin-top:20px;
    border-width:0px !important;
	
}
iframe{
	border-width:0px !important;
}


.dragvertical {
    cursor:col-resize !important;
}

.draggutter{
	min-height:4px;
    background-color:#f0f0f0;
    cursor:row-resize;
}


@media screen and (max-width: 600px) {
	
	.logincontainer {
		width:calc( 100vw - 20px );
		top: 130px;
		height:100vh;
		left:0px;
		padding: 10px;
	}

	.logincontainer .BBjChildWindow-content {
		grid-template-columns: 100px auto;
	}

	
	.wallpaper {
		background-color:white;
		background-image:unset;
	}
	.mainarea {
		position:absolute;
		left:0px;
		width:100vw;
		height:calc( 100vh - 44px );
		min-height:calc( 100vh - 44px );
		
	}

	.menuclient
	 {
	 	padding:4px;
		width:100vw;
		height:calc( 100vh - 44px );
		
	}

	.topbar {
		height:44px;
	}

	.menutoggle {
		display: block;
	}
	



	.drawermenu {
		top:44px;
	}
	.draweropen {
		display: block;
	}
	.drawerclosed {
		display: none;
	}	
	.avatar {
	    height:30px;
	    width:30px;
	    position:fixed;
	    background-size:30px;
	}
	.account {
		height:50px;
		width:250px;
		position:fixed;
		top:10px;
		right:50px;
		font-size:15px;
	}
	
	
	.gridholder{

        width: calc( 100vw - 40px );
        height: calc( 100vh - 250px );
        position: fixed;
        bottom: 60px;
	}
	
.tileslist{

        width: calc( 100vw - 10px );
        height: calc( 100vh - 320px );
}

.tileslist .BBjPanel {
        width: calc( 100vw - 20px );
}

	
	.gridview {
        width: calc( 100vw - 40px) !important;
	}
 
.totalamt {
        background-color: lightgray;
        left:10px;
}

}

@media screen and (max-width: 400px) {
	.card {
		  width:calc( 100vw - 10px );
		  margin-left: 0px;
		  font-size: smaller;
	}
	
	.cardimg{
    	 width:calc( 100vw - 10px );
	}
}

@media screen and (max-width: 280px) {
	
	.logincontainer {
	width:100vw;
	height:100vh;
	top:44px;
	}

}



/* Workaround until we have our own Tab Control: */
.smart-container {
    overflow-y: auto;
    height: calc( 100% - 23px ) !important;
    background-color: white;
    margin:10px;
}