body
{
  	overflow: hidden;  
  	overscroll-behavior-y: none;
  	touch-action: none;
	font-family:Nunito, sans-serif;
	font-style:normal;
	font-weight:600;
  
}

.totalamt {
        position: fixed;
        bottom:12px;
        left: 140px;
}

.checkout {
		position: fixed;
        bottom:10px;
        right: 15px;
        width: 120px;
        height: 40px;
}

.card {
	  width  : 350px;
	  height : 400px;
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	  margin-right: 20px;
	  margin-bottom: 20px;
	  display: flex;
	   
}
.cardpanel {
	  padding-bottom: 10px;
	
}

.cardtext {
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
}

.cardimg{
     width:350px;
     height:235px;
     background-size:contain;
     background-repeat:no-repeat;
     background-position-x:center;
     background-position-y:center;
}


.gridholder{

        width: calc( 100vw - 150px );
        height: calc( 100vh - 250px );

}

.tileslist{

        width: calc( 100vw - 140px );
        height: calc( 100vh - 250px );
}

.tileslist .BBjPanel {
        width: calc( 100vw - 150px );
        height: calc( 100vh - 250px );
}

.qtyontile {
    color: green;
	font-size: 35px;
    padding-top: 15px;
    padding-right: 10px;
}

.gridview {
        width: calc( 100vw - 150px ) !important;
        height: calc( 100vh - 320px ) !important;
	
	
}
.loginbtn {
	width: 305px;
	height: 40px;
}
.logincontainer .BBjChildWindow-content {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 100px 210px;
	
}

.logincontainer basis-inpute,.logincontainer basis-button
{
	width:100%;
}

 
.headline {
	font-size:17px;
	padding-bottom:20px;
}

.errormsg {
	font-size:12px;
	color:red;
	
}

.wallpaper {
	background-image:url(https://bas.mobile.prodin.cloud/assets/lib/submodules/appframe/assets/res/DefaultImages/LoginBackground.jpg);
	background-size: cover;
}

.menutile {
	width:120px;
	height:120px;
    color:white;	
	display: flex;
	flex-direction: column;
	align-items:center;
}

.menutile .BBjImageCtrl  {
	padding-top:15px;
}

.tilelabel {
	font-family:Nunito, sans-serif;
    font-size:18px;
    font-style:normal;
    font-weight:600;      
}

.tileselected {
	background-color:#4BB92C;
}

.logincontainer {
	width:320px;
	height:280px;
	background-color:white;
	position: fixed;
	left:calc( 50vw - 175px );
	top:calc( 50vh - 120px );
	padding: 20px;
}

.mainarea {
	width:calc( 100vw - 121px );
	height:calc( 100vh - 64px );
	position:absolute;
	left:120px;
}

.menuclient {
	padding:10px;
	width:calc( 100vw - 121px );
	height:calc( 100vh - 64px );
}


.topbar {
	background-color:#293237;
	height:64px;
}

.menutoggle {
	display: none;
}

.logo {
	 height:40px;
	 width:250px;
	 position:fixed !important;
	 top:10px !important;
	 left:25px;
	 background-image:url(https://dvd93gp2jcv2n.cloudfront.net/demos/sysco/newport_white.png);
     background-size:contain;
     background-repeat:no-repeat;
     background-position-x:left;
     background-position-y:top;
}

 div .logo{
	margin-top:2px;
	margin-left:15px;
}

.loginlogo {
	
	 height:100px;
	 margin-top:10px;
	 margin-left:10px;
	 background-image:none;
     background-size:contain;
     background-repeat:no-repeat;
     background-position-x:left;
     background-position-y:top;
}

.account {
	height:50px;
	width:250px;
	text-align: right !important;
	position:fixed;
	top:17px;
	right:75px;
	font-family:Nunito, sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:600;
	color:#FAFAFA;      
}

.drawermenu {
	background-color:#293237;
	width:120px;
	position:fixed;
	left:0;
	top:64px;
	overflow-x:hidden;
	left:0px;
	height:100%;
	z-index:1;
}


.avatar {
    height:50px;
    width:50px;
    position:fixed;
    right:10px;
    top:5px;
    border-radius:50%;
    background-image:url(https://customer.iitsd.cloud/assets/images/avatar.svg);
    background-size:50px;
}


@media screen and (max-width: 600px) {
	
	.logincontainer {
		width:calc( 100vw - 20px );
		top: 130px;
		height:100vh;
		left:0px;
		padding: 10px;
	}

	.logincontainer .BBjChildWindow-content {
		grid-template-columns: 100px auto;
	}

	
	.wallpaper {
		background-color:white;
		background-image:unset;
	}
	.mainarea {
		position:absolute;
		left:0px;
		width:100vw;
		height:calc( 100vh - 44px );
		min-height:calc( 100vh - 44px );
		
	}

	.menuclient
	 {
	 	padding:4px;
		width:100vw;
		height:calc( 100vh - 44px );
		
	}

	.topbar {
		height:44px;
	}

	.menutoggle {
		display: block;
	}
	
.logo {
	 height:25px;
	 width:100vw;
	 position:fixed;
	 top:6px !important;
	 left:35px;
}

 div .logo{
	margin-top:3px;
}

.loginlogo {
	 margin-top:20px;
	 margin-bottom:50px;	 
	 background-image:url(https://www.basis.com/sites/all/themes/basis/logo.png);
     background-size:contain;
     background-repeat:no-repeat;
     background-position-x:center;
     background-position-y:center;
}

	.drawermenu {
		top:44px;
	}
	.draweropen {
		display: block;
	}
	.drawerclosed {
		display: none;
	}	
	.avatar {
	    height:30px;
	    width:30px;
	    position:fixed;
	    background-size:30px;
	}
	.account {
		height:50px;
		width:250px;
		position:fixed;
		top:10px;
		right:50px;
		font-size:15px;
	}
	
	
	.gridholder{

        width: calc( 100vw - 40px );
        height: calc( 100vh - 250px );
        position: fixed;
        bottom: 60px;
	}
	
.tileslist{

        width: calc( 100vw - 10px );
        height: calc( 100vh - 320px );
}

.tileslist .BBjPanel {
        width: calc( 100vw - 20px );
}

	
	.gridview {
        width: calc( 100vw - 40px) !important;
	}
 
.totalamt {
        background-color: lightgray;
        left:10px;
}

}

@media screen and (max-width: 400px) {
	.card {
		  width:calc( 100vw - 10px );
		  margin-left: 0px;
		  font-size: smaller;
	}
	
	.cardimg{
    	 width:calc( 100vw - 10px );
	}
}

@media screen and (max-width: 280px) {
	
	.logincontainer {
	width:100vw;
	height:100vh;
	top:44px;
	}

}



