.menutile {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px #E5E5E5 solid;
    padding-left: 5px;
    background: var(--menutile-background);
}

.menutile .material-icons {
    padding-top: 25px;
    font-size: 36px;
    font-style: normal;
    font-weight: var(--bbj-font-weight-bold);
}

.menutile .letterField {
    font-size: 19px;
    width: 30px;
    height: 30px;
    color: var(--bbj-color-default);
}

.menutile .iconField {
    width: 30px;
    height: 30px;
}

.menutile .letterWrapper {
    width: 30px;
    height: 30px;
}

.menutile .tilelabel {
    font-family: var(--bbj-font-family);
    font-style: normal;
    font-weight: var(--bbj-font-weight-normal);
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
    color: var(--tiles-font-color);
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.arrowIcon {
    height: 20px;
    width: 15px;
}

.arrowIcon bbj-icon::part(icon) {
    color: grey;
    fill: grey !important;
    height: 20px;
    width: 15px;
}

.favoriteActive bbj-icon::part(icon) {
    fill: yellow !important
}

.btnPart {
    height: 40px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--bbj-font-family);
    font-style: normal;
    font-weight: var(--bbj-font-weight-normal);
}

.trailingIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background: rgba(49, 59, 84, 0.08);
    border-radius: 8px;
    margin-right: 5px;
}

.iconWrapper {
    margin-left: auto;
    display: none;
    flex-direction: row;
}

.child {
    background: var(--bbj-window-background);
}

.invis {
    display: none !important;
}

@media (hover: hover) {
    .menutile:hover {
        background: var(--menutile-hover-color);
    }
    .child:hover .iconWrapper {
        display: flex;
    }
}