:root {
    --bbj-font-family: 'Rubik', sans-serif
}

.erpDropDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainarea {
    position: fixed;
    background: var(--portalFrame-background);
    height: 100vh;
    margin-top:56px;
}