:root {
    --drawer-open-width: 300px;
    --drawer-close-width: 104px;
    --portal-frame-main-area-width-with-drawer-open: calc(100vw - 300px);
    --portal-frame-main-area-width-with-drawer-close: calc(100vw - 104px);
}

.mainarea{
	position:absolute;
    background: #F1F1F1;
}

.mainarea>div,
.mainarea>div>div {
    width: 100%;
    height:100%;
}

.expanded{
    margin-left: var(--drawer-close-width);
    width: var(--portal-frame-main-area-width-with-drawer-close);
}

.shrinked{
    margin-left: var(--drawer-open-width);
    width: var(--portal-frame-main-area-width-with-drawer-open);
}

@media screen and (max-width: 425px) {
    .mainarea,
    .mainarea .expanded,
    .mainarea .shrinked,
    .mainarea>div,
    .mainarea>div>div {
        margin-left: 0px !important;
        width: 100vw !important;
        height:100vh;
    }
}
