
.mainarea{
	position:absolute;
    background: #F1F1F1;
}
.mainarea,
.mainarea>div,
.mainarea>div>div {
    width: 100vw;
    height:100vh;
}
@media screen and (max-width: 425px) {
    .mainarea,
    .mainarea>div,
    .mainarea>div>div {
        margin-left: 0px !important;
        padding-left: 10px;
        width: 100vw;
        height:100vh;
    }
}
