.history {
    background-color: var(--bbj-color-white, #FFF);
    border-radius: 8px;
    display: flex;
}

.historyTile {
    height: 50px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px #E5E5E5 solid;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.6);
}

.btnPart {
    height: 50px;
    width: 500px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
}