

.dashboardWidgetHeader:hover .widgetHeaderSettingDropdownPanel {
    display: block;
}

.dashboardWidgetHeader::part(control) {
    overflow: visible;
}

.dashboardWidgetHeader > * {
    overflow: visible !important;
}

.dashboardWidgetHeader > * > * {
    overflow: visible !important;
}

.dashboardWidgetHeader > * > * > * {
    overflow: visible !important;
}

.dashboardWidgetHeader > * > * > * > * {
    overflow: visible !important;
}

.dashboardWidgetHeaderPanel {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* border-bottom: #E1EAEA solid 1px; */
    border-bottom: var(--bbj-border-color) solid 1px;

    display: flex;
}


/*  SETTING */
.widgetHeaderSettingDropdown::part(control) {
    overflow : visible;
}

.widgetHeaderSettingDropdownPanel {
    display:none;
    position: absolute !important;
    left: 25px !important;
    top: 28px !important;
    z-index: 99 !important;
    width: 120px;
    /* height: 180px; */
    background-color: var(--bbj-color-white, #FFF);
    border-radius: 8px;
    box-shadow: var(--bbj-shadow-l);
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* FONTS */
.dashboardWidgetHeaderText.title {
    color: #A1A5A7;
    font-size: var(--bbj-font-size-xxs);
    font-weight: var(--bbj-font-weight-lighter);
    letter-spacing: 0.09rem; 
}

.dashboardWidgetHeaderText.filter {
    margin-top: 2px;
    color: #212525;
    font-size: var(--bbj-font-size-xs);
    font-weight: var(--bbj-font-weight-normal);
}

.dashboardWidgetHeaderText.filter.name {
    color: #A1A5A7;
}

.widgetHeaderSettingDropdownItemBox {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 1rem;
    margin-right: 0.3rem;
}

.widgetHeaderSettingDropdownItemBox:hover {
    cursor: pointer;
}

.widgetHeaderSettingDropdownItemBox:hover .widgetHeaderSettingDropdownItem {
    color: var(--bbj-color-primary)
}

.widgetHeaderSettingDropdownItem {
    text-align: center;
    color: var(--bbj-font-dark);;
    font-size: var(--bbj-font-size-xs);
    font-weight: var(--bbj-font-weight-normal);
}

