:root {
    --prodin-primary: #9B0058;
    --prodin-secondary: #333E40;
    --prodin-black: #000000;
    --prodin-box-shadow-blur: rgba(47, 59, 73, 0.15);
    --prodin-box-shadow-color: rgba(0,0,0,0.23);
}