.dialogWnd{
    background: transparent;
    position: absolute;
    backdrop-filter: brightness(0.5);
}

.ChildBackground{
    background-color:dimgrey;
    opacity:70%;
    width: 100vw;
    height: 100vh;
    z-index:199 !important;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}


/* TODO adjust when in mini drawer form */
.dialogPanel{
    position: fixed;
    height: 80vh;
    margin: 5% auto;
    left: 0;
    right: 0;
    z-index: 999 !important;
    display: flex;
    flex-direction: column;
    max-width: 56rem;
    min-width: 16rem;
    background-color: white;
    border-radius: var(--bbj-border-radius-m);
    box-shadow: var(--bbj-shadow-l);
    backdrop-filter: drop-shadow(2px 4px 6px black);
}

.bodyPanel{
    padding: 1rem;
    height: 100%;
    overflow-y: auto !important;
}

.headerPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 1rem;
    font-size: 1.5em;
 }

.closeIconWnd{
    justify-self: end;
    cursor: pointer;
}

.closeIcon{
    margin-left: 5px;
}

.footerWnd{
    display: flex;
    justify-content: flex-end;
}

.footerBtn{
    margin: 13px 24px !important;
    height: 43px;
    width: 141px;
}

.footerBtn::part(control) {
    border-radius: 8px;
}


@media screen and (max-width: 425px) {
    .formControlPanel{
        position: fixed !important;
        top: 5vh !important;
        left: 0px !important;
        z-index: 99 !important;
        width: 100vw;
        height: 90vh;
        background-color: white;
        border-radius: 8px;
        box-shadow: var(--bbj-shadow-l);
        backdrop-filter: drop-shadow(2px 4px 6px black);
    }

    .formPanel{
        display: grid;
        grid-template-columns: unset;
        padding: 30px;

        height: 500px;
        overflow-y: scroll !important;
    }
}
