
.appbarStyle {
    position: relative;
    left: 0px;
    z-index: 99999 !important;
    background-color: white;
    height: 40px !important;
    width: 100% !important;
}


.menu {
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 40px;
}

.hydrated {
    color: var(--bbj-color-black);
}