.appbarStyle {
    display: flex;
    flex-direction: row;
    background: #012042;
    align-items: center;
    padding: 10px;
    height: 56px;
}

.trailingArea {
    border-style: none;
    margin-left: auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.menu {
    gap: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .appbarStyle {
        background-color: var(--bbj-color-primary);
        position: relative;
        left: 0px;
        z-index: 99999 !important;
        height: 40px !important;
        width: 100% !important;
        display: block;
    }
    .menu {
        gap: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: fit-content;
        align-items: center;
    }
}