
/* TODO adjust when in mini drawer form */
.formControlPanel{
    position: fixed !important;
    top: 10vh !important;
    left: 35vw !important;
    z-index: 99 !important;
    width: 750px;
    height: 700px;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--bbj-shadow-l);
    backdrop-filter: drop-shadow(2px 4px 6px black);
}

.formPanel{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px;

    height: 500px;
    overflow-y: scroll !important;
}

.edit-field{
    padding: 15px;
}

.topWndPanel{
    height: 60px;
    padding: 10px;
}

.modalHeader{
    margin: 25px;
    font-size: 25px;
}

.footerWnd{
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 425px) {
    .formControlPanel{
        position: fixed !important;
        top: 5vh !important;
        left: 0px !important;
        z-index: 99 !important;
        width: 100vw;
        height: 90vh;
        background-color: white;
        border-radius: 8px;
        box-shadow: var(--bbj-shadow-l);
        backdrop-filter: drop-shadow(2px 4px 6px black);
    }

    .formPanel{
        display: grid;
        grid-template-columns: unset;
        padding: 30px;

        height: 500px;
        overflow-y: scroll !important;
    }
}
