.drawerOpenIconPanelStyle {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.drawerClosed .drawerClosedOpenIconStyle {
    display: block !important;
}

@keyframes drawerOpenIconAnimationSmall {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes drawerOpenIconAnimationLarge {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.drawerOpen .openIconAnimationOpen {
    animation-name: drawerOpenIconAnimationLarge;
    animation-duration: var(--drawer-animation-duration);
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.drawerClosed .openIconAnimationClose {
    animation-name: drawerOpenIconAnimationSmall;
    animation-duration: var(--drawer-animation-duration);
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@media screen and (max-width: 425px) {
    .drawerClosed .drawerClosedOpenIconStyle {
        display: none !important;
    }
}
