.webKitDropDown {
    --bbj-button-color: white;
    --bbj-button-background: transparent;
    --bbj-button-hover-background: rgba(255, 255, 255, 0.5);
    --bbj-button-hover-border-color: transparent;
    --bbj-button-hover-color: white;
}