.menuCardBox {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
}

.headline {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin: 20px;
}

.header {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 30px;
}