
.drawerClosed .drawerHeaderLogoClosed {
    display: none;
}

.drawerOpen .drawerHeaderLogoSmallOpen {
    display: none;
}

.drawerClosed .drawerHeaderLogoSmallClosed {
    display: block !important;
    justify-self: center;
}

.drawerClosed .drawerHeaderPanelStyle {
    gap: 0;
}

.drawerHeaderPanelStyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1rem;
    gap: 2rem;
    overflow: visible;
    align-items: center;
}

/* .drawerHeaderPanelStyle.drawerHeaderPanelStyleClosed {
    display: flex;
    justify-items: center;
} */

.headerMenuContentWrapper{
    overflow: auto !important;
    padding: 0px;
    max-height: 120px;
}

.drawerHeaderLogo {
    height: 64px;
    width:  fit-content;
    grid-row-start: 1;
    grid-column-start: 1;
}

.drawerClosed .drawerCloseIcon {
    display: none !important;
}

.drawerOpen .drawerOpenIcon {
    display: none !important;
}

.drawerCloseIcon {
    align-self: center;
    justify-self: right;
}

.drawerOpenIcon {
   position: relative;
   left: 2.8em;
}

.drawerOpenIcon::part(control){
    background: white;
}

.drawerRoundButton {
    height: max-content;
}

.drawerRoundButton::part(control){
    padding: 0.3em;
    border: none;
    border-radius: 50%;
}


.drawerRoundButton::part(label){
    padding: 0;
}
