
.drawerClosed .drawerHeaderLogoClosed {
    display: none;
}

.drawerOpen .drawerHeaderLogoSmallOpen {
    display: none;
}

.drawerClosed .drawerHeaderLogoSmallClosed {
    display: block !important;
    justify-self: center;
}

.drawerClosed .drawerHeaderPanelStyle {
    gap: 0;
    grid-template-columns: 1fr;
}

.drawerHeaderPanelStyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1rem;
    gap: 2rem;
    align-items: center;
}

.headerMenuContentWrapper{
    overflow: auto !important;
    padding: 0px;
    max-height: 120px;
}

.drawerHeaderLogo {
    max-height: 16rem;
    width:  fit-content;
    grid-row-start: 1;
    grid-column-start: 1;
}

.drawerClosed .drawerCloseIcon {
    display: none;
}

.drawerOpen .drawerOpenIcon {
    display: none;
}

.drawerCloseIcon {
    background: blue;
    align-self: center;
    justify-self: right;
}

.drawerOpenIcon {
    position: fixed;
    left: calc(var(--drawer-closed-width) - 12px);
    top: 2.25rem;
}

.drawerOpenIcon::part(control){
    background: white;
}

.drawerRoundButton {
    height: max-content;
}

.drawerRoundButton::part(control){
    padding: 0.3em;
    border: none;
    border-radius: 50%;
}


.drawerRoundButton::part(label){
    padding: 0;
}
