.dashboardHeaderPanelStyle {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
}

.dashboardTextHeaderPanelStyle {
    display: grid;
    margin:34px 0px 41px 36px;
    grid-template-rows: min-content auto min-content;
}

.dashboardHeaderEntryWrapperPanelStyle{
    display: grid;
    grid-template-rows: 100%;
    column-gap: 23px;
}
/* these are temp bzw these need to use the webkit/bbj vars later on */
.dashboardHeaderTextStyle{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333E40;
    grid-row-start: 1;
    height: fit-content;
}
.dashboardSubtitleStyle{
    font-family: 'Lato';
    font-style: normal; 
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #A1A5A7;
    grid-row-start: 3;
    height: fit-content;
}

.dashboardTitleStyle{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #333E40;
    grid-row-start: 2;
    height: fit-content;
    align-self: center;
}