.dashboardHeaderEntryWidgetPanelStyle {
    border: solid;
    border-width: 1px;
    border-color: #E1EAEA;
    background-color: var(--bbj-color-default);
    border-radius: 3px;
    width: 192px;
    height: 95px;
    display: grid;
}

.dashboardHeaderEntryWidgetWrapperPanelStyle {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: min-content auto;
    column-gap: 10px;
}

.dashboardHeaderEntryWidgetCountStyle {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    width: min-content;
}

.dashboardHeaderEntryWidgetLabelStyle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    height: fit-content;
    align-self: center;
    width: min-content;
}