.showcaseWidgetPanelStyle {
    height: 100%;
    margin: 20px;
    display: grid;
    gap:10px;
    grid-template-rows: 80px 100px auto
}

.headline {
    font-size: xx-large;
    font-weight: 300;
    margin-top: 9px;
}

.copy {
    font-size: normal;
    font-weight: 300;
    margin-top: 9px;
}	

.content {
	margin:10px;
	padding:20px;
	background: white;
	border-radius: 30px;
	overflow: auto;
	font-weight:300;
}