.listWrapperPanelStyle{
    height: calc(100vh - 268px);
    overflow-y: scroll !important;
    padding: 0px 16px 16px;
    background-color: var(--bbj-color-white);
}

.columnHeaderPanel{
    display: grid;
    height: 49px;
    border-bottom: 1px solid #DDE0E1;
}

.columnName{
    padding: 16px;
    grid-row: 1;
}
.actionColumnName{
    justify-self: end;
}

.dataRowPanel{
    display: grid;
    height: 74px;
    border-bottom: 1px solid #DDE0E1;
}

.cellWrapper{
    padding: 16px;
    grid-row: 1;
}

.actionCellWrapper{
    justify-self: end;
}

.cellWrapperPanel{
    display: grid;
    grid-template-columns: 100%;
}

.field{
    grid-column: 1;
    white-space: nowrap !important;
}

.fieldLabel{
    height: 17px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
