.dashboardTasksPanelStyle {
    height: 100%;
    width: 100%;
    min-height: 200px;
    background-color: var(--bbj-color-white);
    border-radius: 8px;
} 

/*  REDIRECT LINK */
.dashboardTasksLink {
    padding: 1.5rem;
    color: #0b74c0;
    font-size: var(--bbj-font-size-s);
    font-weight: var(--bbj-font-weight-lighter);
}

.dashboardTasksLink:hover {
    color: rgb(138, 197, 231);
    cursor: pointer;
}


/* TASKCARDS */
.dashboardTasksCardPanelStyle {
    display: flex;
    justify-content: space-around;
}

.dashboardTask {
    padding: 1rem;
}

.dashboardTask:hover {
    background-color: rgb(231, 231, 231);  
    cursor: pointer;
}

.dashboardTask:hover .dashboardTaskCardTitleFont {
    color: var(--bbj-color-primary);
}

/* TASKCARD CHECKBOX */
.dashboardTaskCardCheckBoxInputWrapper::part(input-wrapper) {
    width: 22px;
    height: 22px;
    border:solid 1px #DDE0E1;
    border-radius: 4px;
}

.dashboardTaskCardCheckBoxControl::part(control) {
    --bbj-color-default: var(--bbj-color-white);
}

.dashboardTaskCardCheckBoxIcon::part(checked-icon) {
    background-color: var(--bbj-color-info);
} 

/* TASKCARD FONTS */
.dashboardTaskCardTitleFont {
    color: #333E40;
    font-size: var(--bbj-font-size-s);
}

.dashboardTaskCardSmallFont {
    flex-basis: 70%;
    font-weight: var(--bbj-font-weight-lighter);
    font-size: var(--bbj-font-size-xxs);
    line-height: 16.4px;
    color: #A1A5A7;
}

.dashboardTaskCardSmallFont.priority {
    flex-basis: 30%;
}

.dashboardTaskCardFooterPanel {
    display: flex;
}





