.tileslist{
	width: calc( 100vw - 140px );
	height: calc( 100vh - 250px );
}

.tileslist .BBjPanel {
	width: calc( 100vw - 150px );
	height: calc( 100vh - 250px );
}

@media screen and (max-width: 600px) {
    .tileslist {
        width: calc( 100vw - 10px );
        height: calc( 100vh - 320px );
    }

    .tileslist .BBjPanel {
        width: calc( 100vw - 20px );
    }
}