.listSubtitleField{
    height: 17px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
}

.listWindow{
    margin: 40px 38px 80px 52px;
}

:root{
    --bbj-divider-color: #DDE0E1;
}
