.inputFieldPanelStyle {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.inputFieldStyle {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.inputFieldStyleInputWrapper::part(input-wrapper) {
    --bbj-focus-ring-default: none;
    background: white;
    border: none;
    border-bottom: 1px solid #DDE0E1;
    border-radius: 0px;
    width: 100%;
    height: 34px;
}

.inputFieldStyleInputWrapper.focus::part(input-wrapper){
	border-bottom: 1px solid var(--bbj-color-primary);
}


.inputFieldStyleInputWrapper.error::part(input-wrapper) {
	border-bottom: 1px solid var(--bbj-color-danger);
}

.inputFieldLabelStyle {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: var(--bbj-color-black);
    grid-row-start: 1;
}

.inputFieldLabelStyle.hover {
    color: var(--bbj-color-primary) !important;
}

.inputFieldLabelStyle.focus {
    color: var(--bbj-color-primary) !important;
}

.inputFieldSubTextWindow {
    grid-row-start: 3;
    grid-column-start: 1;
    height: 22px;
    line-height: 22px;
}

/* need smaller font for this */
.inputFieldSubTextStyle {
    color:var(--bbj-color-danger);
    font-weight:var(--bbj-font-weight-lighter);
    font-size:var(--bbj-font-size-xxs);
}

.inputFieldStyleInput::part(input){
    color: var(--bbj-color-black);
}

.inputFieldIcon {
    grid-row-start:2;
    grid-column-start:2;
    height:fit-content;
    width:fit-content;
    align-self:end;
    justify-self:end;
}