.inputFieldPanelStyle {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.inputFieldStyle {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.inputFieldStyleInputWrapper::part(input-wrapper) {
    --bbj-focus-ring-default: none;
    background: white;
    border: none;
    border-bottom: 1px solid #DDE0E1;
    border-radius: 0px;
    width: 100%;
    height: 34px;
}

/* TODO replace wiht vars later */
.inputFieldStyleInputWrapperFocused::part(input-wrapper){
    --bbj-focus-ring-default: none;
    background: white;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--bbj-color-primary);
    width: 100%;
    height: 34px;
}


.inputFieldLabelStyle {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: var(--bbj-color-black);
    grid-row-start: 1;
}

.inputFieldSubTextWindow {
    grid-row-start: 3;
    grid-column-start: 1;
    height: 22px;
    line-height: 22px;
}


.inputFieldSubTextStyle {
    /* display: none; */
    /* position: absolute; */
    /* top: 0px; */

    padding: 0px;
    margin: 0;
    line-height: 0px;
 
    color:red;
    font-family: 'Lato';
    font-weight:100;
    font-style: italic;
    font-size: 11px;
}

.inputFieldStyleInput::part(input){
    color: var(--bbj-color-black);
}