
@keyframes drawerAnimationClose{
    from {
        width: 300px;
    }
    to {
        width: 104px;
    }
}

@keyframes drawerAnimationOpen{
    from {
        width: 104px;
    }
    to {
        width: 300px;
    }
}

@keyframes drawerMobileAnimationClose {
    from {
        width: 300px;
    }
    to {
        width: 0px;
    }
}

@keyframes drawerMobileAnimationOpen {
    from {
        width: 0px;
    }
    to {
        width: 300px;
    }
}

:root {
    --drawer-animation-duration: 0.15s;
    --drawer-search-animation-duration: 0.2s;
}

.drawerPanelStyle{
    height: 100vh;
    background-color: white;
    z-index: 99;
    width: 300px;
}

.drawerOpen .drawerAnimationOpen {
    animation-name: drawerAnimationOpen;
    animation-duration: var(--drawer-animation-duration);
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: ease-in;
}
.drawerClosed .drawerAnimationClose{
    animation-name: drawerAnimationClose;
    animation-duration: var(--drawer-animation-duration);
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

.drawerShadow .drawerMobileShadowPanelStyle {
    display: none;
    height: 100vh;
    width: 100vw;
    /* background-color:  #212737; */
    background: rgba(33, 39, 55, 0.6);
    /* opacity: 0.6; */
    position: absolute !important;
    top: 0px !important;
}

@media screen and (max-width: 425px) {
    .drawerClosed .drawerAnimationClose{
        animation-name: drawerMobileAnimationClose;
        }
    .drawerOpen .drawerAnimationOpen{
        animation-name: drawerMobileAnimationOpen;
        }
    .drawerMobileShadowPanelStyle {
      display: block !important;
        }  
}

.drawerTilesTextHeaderStyle{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #A1A5A7;
}

.drawerTilesWrapper{
    display: grid;
    overflow: auto !important;
    height: calc(100vh - 381px);
}

.drawerFooterWrapper{
    display: grid;
    height: 117px;
}
